<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="0" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1048" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="fanControllerMenuItem" value="true" />
    <add key="mainboardMenuItem" value="true" />
    <add key="ramMenuItem" value="true" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANto93T3tSu3PBgYDvzX8F7HzAAEe1g2OnCdSmQCsaO2bnBwlk0Csz1mbHDwD4GwRTo3OKQvSgGzPzRucHB4DmFfq93g8PhvOpi9ZeIGh3O34sHsS/s3OMz/DDFzj+hGhzbOZDDbgHubg5cFRPxeyTaH1bch7Adztzmc/wixa8HnbQ4ArlZ3+KgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJtx59Hua1dueTAwHPjvuHYDMwMQRNzrdeI6lcgEYu+a1+vkLJsEZue19zr5h0DYdtW9TumLUsDsttJeJ4fnELZNUa/T47/pYLZGU6/TuVvxYLbc8l6n+Z8hZv543evUxpkMZkc9nejkZQER57Ga5LT6NoT9MmqS0/mPELsWz5/kBAB5dztXqAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxn9Y9mYgCDb45fElKh7CWOP/JjoexljqW5SXDx2/n67DD2A70kuBrXmwi28+kEKHuFo4G6OjuMDQCrCLdweAAAAA==" />
    <add key="gpuMenuItem" value="true" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAEjA1rXHyfH2YBsw90uWz7dgzMZmCY5nzrkLgwjA0AEVPBvTwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAEN9znuPo+P8wCYh/ZX+C67dsxMJux4ZTzrUPiwjA2AN9VeRg8AAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAFdxcskoGxAUvlsYkkAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAFdxcskoGxAUvlsYkkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAFdxcskoGxAUvlsYkkAAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAFdxcskoGxAUvlsYkkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvxXyfrMxAAFdxcskoGxAUvlsYkkAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvw/Gr6eiQEEEgId9rcvlIGxATzkmNskAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvw/Gr6eiQEEFpS77m9fKANjAwBsDnZVJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvw/Gr6eiQEM2Jz3ty+UgbEBRf2OQiQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANsqv2DPtSu3PBgYDvw/Gr6eiQEMGlz3ty+UgbEBNBxgHSQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEANNoX7Tn2pVbHgwMB/67B65nYgACaX0hx/WVqWB23/QnDrPjY8HsW+eeOJz3TwKzj3srOpxckAJmF2coOgQuSwazv2moOMx6mAlmP/BXdmB0jAezD39VcfA/DFEzRULFof5iHJj95a+CA0cQxMwOMVWHvh6IvWcWyjr8bU4As1261RwA6Xb3HKgAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEANNoX7Tn2pVbHgwMB/4/Kd/GxAACSopOytWpELaGguPfffEQ9g4OJ6n3UHaDtWPZghQI+4S+49flyRD2BmPHLKccCPsIm1Pg/RgI+4e641HlNAj7AovTtcIYuDlMQUkQtoW7Y1A31N4JSY4HmxIgbAEVRwCDt6r8qAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCCFeuOO31JSGUCsZWB7B/5sWC2PJBdmpsEZisC2bvnTeSEsV1vQsQVgGzn0wlwNS0RyXD2NzuIGiUge1t/IpwNAAgmn2uEAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/67+8gyM4CBulNmSioTjJ1fEgtlazrdyU+CslWd+HakwMVf7IGp13D6/TMFzubVg6nXcrpxC8bWc7pwIgHKNnHijU6GsnWcbrnD1Gg7bW1LhLKtnQCU/3fKqAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/67+8gyM4CBslNmSioThK3olF8SC2UrOd3JT4KyFZz4dqTAxV/sSYWzf/+EiSs78erB1Ks43biVBBe/cCIBytZz4o1Ohuu95Y5Qv7UtEco2cAIAXatsSagAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/67+8gyM4CBnFNmSioThK3klF8SC2WrOt3JT4KyFZ34dqRA2cpOL/bA1Ks4/f6JEOfVg6nXcLpxC8ZWd7pwIgHK1nHijU6Gm3/LHaF+a1silK3rBAB7+ECGqAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEALPWvbT72pVbHgwMB/6nr5NnZgADRafMlFQmCFvFKb8kFspWdrqTnwRlKznx7UiBi7/Ykwpn//6ZAtfLqwdTr+p04xaMreZ04UQClG3kxBudDBe/5Q5To+60tS0RyjZ1AgCLd+XmqAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEALPWvbT72pVbHgwMB/6nr5NnZgADZafMlFQmCFvNKb8kFs6+k58EZas48e1IgbI1nF7sQaj//RMmru7Eq5cEZ9+4BWNrO104kQBlGzvxRidD2VpOt9xhajSdtrYlQtkmTgCvwpwDqAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAFubfnb3tSu3PBgYDvz/WqzCzAAE5kkcjpkpqUwg9hbPGw75JbFgNrviMoc7+UlgNsOBgw58O1LA7IqkLQ4v9kDUi+wOdvj9EyJ+1K/TgVcPqr5ht8ONWzC9KxwunEgAs79Nue7IG50MZhv5rHe45Q5Royv1zGFrWyKY3dtywhEAIEDr/agAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAHPIU9977cotDwaGA/8BDb+e/wwAAAA=" />
    <add key="hddMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEALM/o7n32pVbHgwMB/4DALKSmB4MAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEANNoX7Tn2pVbHgwMB/472uxmYgCBht32CypTIWyHOfaHDsbDxZe/jYeLZ85PgbAZquzTViTDxdmdcuDqD9yLgatZo5oGFw8qQIjHBCfBxV27U+HiJ5oS4GwADhKfDagAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCC15cyHb4kpDKB2N5fix1+5MeC2e5+DQ6luUlg9qvMOIfde1LA7LwfeQ7eOyDqE9kzHK7+goh/OZ7m8EAPot76cqGD600I++uPMgfn0wlg9hXFrw4tEclg9pTaUodvdhA1/MfyHbb1J4LZbFveOgAAHxE7FKgAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCCvoDH9l8SUplA7Gc/Ltr/yI8Fs0+sfGBfmpsEZn+M22+/e08KmH3m4U177x0Q9RZSF+yv/oKIz7t33v6BHkR91v8r9q43IezdtR/snU8ngNmr3y5xaIlIBrP/ZDy1/2YHUbO2+JH9tv5EMHtF01wHADmMie+oAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCCm08Dbb8kpDKB2H++X7P5kR8LZle9nWtbmpsEZi/+fsh6954UMLtst62N9w6I+n31gjZXf0HEjzzjtHmgB1EvqVxk63oTwmZZ+9ja+XQCmP3IuMy2JSIZzF5a8cP6mx1EzSm1B9bb+hPBbIapW20BLFNLEKgAAAA=" />
    <add key="minMenuItem" value="true" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7v3yHPzAAEftUrXF7GpjKB2NEPn7k0lMSC2SVpt1z4EpPA7JeLH7jInUgBs21jPrtc3A5RbwNka/yBiJ+Se+vyRxeifsGhxy5Xb0DYaTv+uIQcSwCzGTTZXEtik8HsN1UrXNa6Q9TcPXPKRbUjEcyO26HnCgBcbieHqAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/4rSisxMwDBqoczXCKjU5lA7C0FB10aK2PB7Mz+Iy68yUlgtpPxbpc9R1PA7JeLH7hs3QlR/wLI9vkKES9Lu+XCoJsEZ9+4C2GXA9lWBxLA7JQdf1wCk5LBbC6GOS5n3CFqOkV2uJxuSwSzJ75WcwUAhJZCW6gAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/5XV6kwMwBBQ2u/y66kVCYQO2HHOpecnFgw+03VCheT/CQwu8Z2kUvXwRQwO6f/iIvWHoh6R+PdLrffQsR/Bu5z2WgMUa+07riL5zMI+xdQPPpAAphtHfPZZUNEMpj9YPEkl9XuEDXxQHtftiWC2en9sq4A7FfHaKgAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCCcM02ly8JqUwg9g73Tpcf+bFgdl5aj0tpbhKYrdna77J7TwqYbRKz1MV7B0T9Ybn5Lld/QcSrbRe5PNCDqF86c7WL600IexmQ7Xw6AcwWYnjl0hKRDGbnA83/Zocwf1t/IpTN7woAoHux5KgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAFubfnb3tSu3PBgYDvz/WqzCzAAE6/mvOWSmpDKB2Hz/+hzyS2LB7O/3zB3v5CeB2QwN1g58O1LA7Budlx1e7IGoZzzww+H3T4h4l2yIA68eVL1Ds8ONWzC9nI4XTiSA2WYTjznyRidDxBl+Odxyh6nJddjalghm35brdgQAR7qWlKgAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAFubfnb3tSu3PBgYDvz/WqzCzAAEQToTHTJTUplA7LgrUo75JbFgdsuEiQ538pPAbIaGRQ58O1LAbPVvTI4v9kDUO8xhdfz9EyJ+gq/ZgVcPqt6B2fHGLSj7wC2HCycSwOxNTk8deaOToeIHHW65Q9RwTTvrsLUtEcyuLprnCAArTcDpqAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAFubfnb3tSu3PBgYDvz/WqzCzAAEm9bsdsxMSWUCsfWreh3zS2LB7KUhEY538pPAbAaFFEe+HSlgtp9PrOOLPRD1DAuaHH//hIgf5ZvuyKsHVb+gwPHGLSg7oc3xwokEMPu6/B1H3uhkqBo7x1vuUDUPtB23tiWC2Vaivx0BCiPuKagAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAFubfnb3tSu3PBgYDvz/WqzCzAAEKdd0HDNTUplAbLVoKcf8klgwW5KZ2/FOfhKYzTDhkQPfjhQwW4OP0/HFHoj6Q1z8jr9/QsTvrvziwKsHVX+BxfHGLSibQczxwokEMFvn0XVH3uhkMJtb+JfDLXeIGv6eBw5b2xLB7ONeux0BckNW/6gAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEANto93T3tSu3PBgYDvzX8F7HzAAEMwQFHbhOJTKB2DEbBB2cZZPA7IZXgg7+IRD2Cw4hh/RFKWC2gbiQg8NzCDtFXsjh8d90MHvFd0GHc7fiweyc2YIO8z9DzJzxXsChjTMZzN7Awu7gZQERDzFkc1h9G8IOuM/qcP4jxK4LxqwOANxEzLioAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAIvuv7L72pVbHgwMB/7H31djZgCCPDkb+y8JqUwgtlC/i/2P/Fgw+1NOoH1pbhKYPfuqgf3uPSlg9hs5c3vvHRD1pitN7a/+gogrKZvbP9CDqHdw97J3vQlhTz9hZu98OgHM/tDcad8SkQxmdy03t/9mB1EjdNzUflt/Ipi9+0q5PQBCg8k0qAAAAA==" />
  </appSettings>
</configuration>